{% extends 'base.html.twig' %}

{% block title %}Hello SoinsEnergetiquesController!{% endblock %}

{% block body %}
<body class="bg-gwhite">
<header class="bg-blue-500 text-white text-center py-5">
    <h1 class="text-4xl">Qu'est ce que les soins énergétiques ? </h1>
</header>

<main class="px-10 py-5">
    <h2 class="text-3xl text-blue-500 mb-5">Qu'est-ce que les soins énergétiques?</h2>
    <p class="mb-5">
        Les soins énergétiques sont une forme de thérapie holistique qui implique de travailler avec le champ énergétique humain.
        Les praticiens croient que le déséquilibre dans le champ énergétique peut entraîner des problèmes de santé physique et émotionnelle.
        Les techniques utilisées peuvent comprendre la guérison par le toucher, le reiki, la thérapie par les couleurs et la thérapie par les cristaux.
    </p>

    <h2 class="text-3xl text-blue-500 mb-5">Pourquoi choisir les soins énergétiques?</h2>
    <p class="mb-5">
        Les soins énergétiques peuvent être bénéfiques pour ceux qui recherchent une approche plus holistique et intégrée de la santé.
        Ils peuvent aider à soulager le stress, à améliorer le sommeil, à augmenter la vitalité et à favoriser le bien-être général.
        Les soins énergétiques peuvent être utilisés seuls ou en complément d'autres traitements médicaux ou thérapeutiques.
    </p>
</main>
{% endblock %}
