{% extends 'base.html.twig' %}

{% block title %}Soins énergétique{% endblock %}

{% block body %}
    <div class="max-w-5xl mx-auto mt-5">
        <h1 class="text-4xl font-bold text-center text-gray-900 mb-10">Que sont les soins énergétiques ? </h1>

        <section class="bg-white p-10 rounded-md shadow-md">

            <h2 class="text-2xl font-semibold text-gray-800 mb-5">Les soins energetique c'est quoi?</h2>

            <p class="text-gray-600 mb-5"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa deserunt dolore, doloribus earum eius, in, incidunt inventore nesciunt nihil nisi nulla pariatur possimus quasi quia repudiandae temporibus voluptatum! Ut.</span><span>Modi, quae, similique! Ad aperiam dolore inventore sint voluptas? Accusamus eaque incidunt numquam perferendis. Adipisci aperiam beatae dolorum illum iusto non nulla pariatur quaerat reiciendis reprehenderit sapiente sed, sequi totam!</span><span>A, ad aliquam animi, architecto consequatur dicta dolor eligendi excepturi facere fuga laborum maxime molestias natus necessitatibus, neque nobis perspiciatis reiciendis rem repellat saepe sint sit tempora tempore voluptates voluptatum.</span><span>Accusantium adipisci asperiores dicta esse expedita facilis fugiat id incidunt, ipsa iste labore laboriosam magnam minima non nulla provident quasi quia quidem repellendus reprehenderit rerum tempora unde veritatis vitae voluptatibus?</span><span>Ab architecto commodi illum. At, iusto obcaecati. Adipisci aliquid aperiam consequatur dolore doloribus enim, esse eum explicabo iusto laboriosam modi nesciunt possimus praesentium provident quia quidem saepe sequi veniam voluptatum?</span></p>

            <h2 class="text-2xl font-semibold text-gray-800 mb-5 mt-5">Le rôle.</h2>

            <p class="text-gray-600 mb-5"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem doloribus dolorum, facilis inventore, ipsa laudantium magni nam neque nostrum, tempora temporibus ut veritatis! Aspernatur culpa explicabo impedit sunt voluptatum.</span><span>Animi asperiores blanditiis culpa delectus dignissimos, doloribus eius nisi nulla perspiciatis quod ullam voluptatem. A dolorum earum possimus quas? Accusantium asperiores dolores hic iure iusto odio officia placeat tenetur ullam.</span><span>Aliquam asperiores debitis doloremque rem sint tempore vero voluptatem. Aspernatur consectetur delectus dolor, eius est expedita in quo vero! Consectetur ducimus illum libero, neque nisi sed totam voluptas? Architecto, ex?</span><span>Aspernatur modi nobis non rem veniam? Assumenda consectetur consequuntur culpa cum debitis delectus dicta dolorem doloremque, eaque eius eveniet exercitationem illum incidunt ipsa ipsum molestias natus odio similique suscipit vero.</span><span>Aliquid commodi, cumque, cupiditate deleniti distinctio dolor doloribus ea eveniet, exercitationem harum incidunt magnam molestias nam necessitatibus nobis odio odit optio quae qui quisquam repudiandae sapiente similique temporibus vel voluptates!</span></p>

            <h2 class="text-2xl font-semibold text-gray-800 mb-5">Sur quoi peut agir ces soins ?</h2>

            <p class="text-gray-600 mb-5"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur doloremque error esse eum molestiae saepe? Alias aspernatur cupiditate, dignissimos doloribus earum fugiat iste minima qui repudiandae. Aut ipsa, iure?</span><span>Accusamus blanditiis, culpa deleniti, dicta dolor earum excepturi facilis fuga libero neque nihil non nulla obcaecati quaerat quibusdam repellat reprehenderit sunt temporibus, ullam voluptatem. Dolorum illum nesciunt non quaerat vitae!</span><span>Atque laborum magnam obcaecati soluta unde! Cum dolorem, modi. Amet blanditiis cum debitis dolore ea eius expedita fuga itaque laudantium molestiae nihil, odit quae quia saepe sit tempore, ut voluptates.</span><span>Ab accusantium aspernatur at consectetur consequuntur deleniti deserunt, eligendi enim expedita explicabo fugit illo incidunt iusto laudantium minus mollitia non nulla, officia praesentium quo rem reprehenderit repudiandae sed sequi ullam.</span><span>Asperiores consequatur earum error libero magnam pariatur quasi saepe soluta tenetur ullam. Adipisci aperiam ea minus mollitia perferendis placeat quisquam quod suscipit tempore. Beatae dolore fugit, nulla ratione repellendus reprehenderit.</span></p>

            <h2 class="text-2xl font-semibold text-gray-800 mb-5 mt-5">Le ssoins energetique sont-ils pour moi?</h2>

            <p class="text-gray-600 mb-5">Pour tout le monde ! Aussi bien pour les sportifs que pour les sédentaires, mais aussi pour les nourrissons, les enfants, les femmes enceintes, les personnes âgées, les personnes handicapées…chacun d’entre nous peut donc prendre rendez-vous chez l’ostéopathe.
            </p>

        </section>
    </div>
{% endblock %}
