{% extends 'base.html.twig' %}

{% block title %}Hello OsteopathieController!{% endblock %}

{% block body %}
<body class="bg-gwhite">
<header class="bg-blue-500 text-white text-center py-5">
    <h1 class="text-4xl">Qu'est ce que l'osteopathie ? </h1>
</header>

<main class="px-10 py-5">
    <h2 class="text-3xl text-blue-500 mb-5">Qu'est-ce que l'Ostéopathie?</h2>
    <p class="mb-5">
        L'ostéopathie est une approche de soins de santé non invasive qui vise à renforcer la capacité du corps à se guérir.
        Elle repose sur des techniques manuelles pour améliorer la circulation et corriger les dysfonctions biomécaniques.
    </p>

    <h2 class="text-3xl text-blue-500 mb-5">Pourquoi choisir l'Ostéopathie?</h2>
    <p class="mb-5">
        L'ostéopathie peut aider à soulager une variété de problèmes de santé, y compris les douleurs musculo-squelettiques,
        les maux de tête, les troubles de la digestion, et plus encore. Elle peut être utilisée seule ou en complément d'autres approches de soins de santé.
    </p>
</main>
{% endblock %}
