{% extends 'base.html.twig' %}

{% block title %}Hello OsteopathieController!{% endblock %}

{% block body %}
    <div class="max-w-5xl mx-auto mt-5">
        <h1 class="text-4xl font-bold text-center text-gray-900 mb-10">Qu'est-ce que l'ostéopathie?</h1>

        <section class="bg-white p-10 rounded-md shadow-md">

            <h2 class="text-2xl font-semibold text-gray-800 mb-5">L'ostéopathie c'est quoi?</h2>

            <p class="text-gray-600 mb-5">Depuis quelques années, l’ostéopathie devient de plus en plus connue, cependant, de nombreuses personnes se questionnent sur ce qu’est l’ostéopathie. Beaucoup de patients prennent rendez-vous en cabinet sans vraiment savoir ce qu’est vraiment l’ostéopathie, sur quoi peut agir un ostéopathe ou bien encore comment se déroule une séance. Mais aussi, beaucoup de patients ont des aprioris : est-ce qu’on va me faire craquer ? est-ce que je vais avoir mal ?<p>L'ostéopathie traite l'individu dans son ensemble et repose sur une connaissance approfondie du corps humain. C’est une méthode de soins qui s’emploie à déterminer et à traiter les restrictions de mobilité qui peuvent affecter l’ensemble des structures composant le corps humain. Toute perte de mobilité des articulations, des muscles, des ligaments ou des viscères peut provoquer un déséquilibre de l’état de santé. »</p>

            <h2 class="text-2xl font-semibold text-gray-800 mb-5 mt-5">Le rôle de l'ostéopathie.</h2>

            <p class="text-gray-600 mb-5">L’ostéopathe a pour but de chercher la cause de vos symptômes, et non pas de soigner le symptôme lui-même, mais aussi d’optimiser les capacités du corps à s’auto-réguler et à s’auto-guérir</p>

            <h2 class="text-2xl font-semibold text-gray-800 mb-5">Sur quoi peut agir l'ostéopathie?</h2>

            <p class="text-gray-600 mb-5">L’ostéopathie est efficace dans de nombreux domaines… L’ostéopathe va agir sur tous les systèmes qui composent notre corps : le système musculo-squelettique, le système nerveux, le système digestif, le système génito-urinaire, le système ORL (oto-rhino-laryngologique), le système métabolique et le système vasculaire.
                Ainsi, vous pourrez consulter votre ostéopathe aussi bien pour des douleurs au niveau du dos, que des maux de têtes tels que des migraines, des sciatiques , des constipations , des ballonnements, mais encore pour des sinusites chroniques, des règles douloureuses ou encore pour des troubles du retour veineux...<p>

                Cependant, l’ostéopathie ne peut pas tout soigner ! En effet, de nombreuses pathologies (pathologies organiques) ne sont pas du ressort de l’ostéopathie. Néanmoins, l’ostéopathe pourra accompagner la prise en charge médicale classique pour aider à atténuer les symptôme ou les effets secondaires d’un traitement médicamenteux ou chirurgical.</p>

            <h2 class="text-2xl font-semibold text-gray-800 mb-5 mt-5">L'ostéopathie est-elle pour moi?</h2>

            <p class="text-gray-600 mb-5">Pour tout le monde ! Aussi bien pour les sportifs que pour les sédentaires, mais aussi pour les nourrissons, les enfants, les femmes enceintes, les personnes âgées, les personnes handicapées…chacun d’entre nous peut donc prendre rendez-vous chez l’ostéopathe.
            </p>

        </section>
    </div>
{% endblock %}
