{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="text-center text-5xl mt-24 mb-8">Ostéo Degaudine : Le blog</h1>
        <div class="flex flex-row flex-wrap justify-evenly mt-8">
            {% for post  in posts  %}
                {% include('components/_card.html.twig') %}
            {% endfor %}
        
        </div>
        <div class="navigation flex justify-center mb-8">
            {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}